__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
venv/

ai_code_reviewer/build/
ai_code_reviewer/lib/

ai_pr_reviewer.egg-info/
ai_code_reviewer.egg-info/

.idea/          
.vscode/        =
*.iml             
.DS_Store       
Thumbs.db         
*.sublime-project
*.sublime-workspace
.project      
.classpath      
.settings/        

.env             

.scannerwork/    
.sonar/            

output/            
tmp.diff           
*.log
*.tmp
*.bak